

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

*::after{
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  background-color:#1c1c1e !important;
  width: 100vw;

  letter-spacing: 2px;

  padding-bottom: 10px;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 0 !important;
  font-size: 1.5rem;

  text-align: right;
  // vertical-align: center;




}
.me-auto{
  // justify-content: end;


  padding-bottom: 10px;


}

.nav-underline .nav-link:hover{
  border-bottom-color: #1c1c1e;
}


.nav-underline .nav-link.active{
  font-weight: normal;
  border-bottom-color:#029bd700;
}
.nav-underline .nav-link{
  color:white;
  display: block;
  position: relative;
}

.nav-underline .nav-link::after{
  content: "";
  position: absolute;

  width: 100%;
  bottom:0;
  left: 0;
  background-color: #029cd7;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
  height: 5px;


}


.nav-underline .nav-link:hover::after{
  transform: scale(.4);
  transform-origin: bottom left;

}

.nav-underline .nav-item:focus::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-underline .nav-link.active::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.1ms ease-out;
}












